//primary colors 

$bg-color: #dae1ea;
$rec-light: #acd7a0d8;
$re-green-md: #65c295d7;
$rec-dark: #039b5ee0;

$con-light: #eaa7b89c;
$con-md: #f47a82a8;
$con-dark: #de6b80ef;

$death-light: #dcdcdc;
$death-md: #9c9c9c;
$death-dark: #909090;

//secondry colors
$gray-md: #909090;
$gray-light: #f2f9f5;

//text color
$text-color: #26a6df;
$con-text: #db1e34;
$rec-text: #4a494a;
$death-text: #383838;