@import "./abstracts/variables";

@import "./base/base";

    .contener {
        max-width: 138rem;
        
        margin: 0 auto;
    }

    header {
        margin-bottom: 2rem;
        padding: 2rem;

    }
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 2rem;
        box-shadow: 0px .8rem 2.4rem rgba($color: #000000, $alpha: .2);
        background-color: #fafdfc;

        border-radius: .4rem;
        position: relative;
    }

    .logo {
       .logo-text {
           font-size: 2rem;
           text-transform: lowercase;
           font-weight: bold;
           color: #2b2727;
           font-family: 'Dancing Script', cursive;
       }
    }

    .nav-list {
        list-style: none;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 50%;
        li {
            &:not(:last-child) {
                margin-right: 3rem;
            }
        }
    }

    .nav-link {
        display: flex;
        color: #121212;
        font-size: 1.5rem;
        font-weight: 300;
        align-items: center;
        text-transform: capitalize;
        text-decoration: none;


        img {
            width: 2rem;
        }
        svg {
           width: 2rem;
        }

        span {
            margin-left: 2rem;
        }
    }
    

    nav .open{
        z-index: 99;
        display: flex;
        position: absolute;
        top: 140%;
        height: 10rem;
        width: 100%;
        left: 0;
        border-radius: .4rem;
        box-shadow: 0 .8rem 2.4rem rgba($color: #000000, $alpha: .2);
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
        padding:0 2rem;
        background-color: #fafdfc;
    }

    .humberger {
        display: none;
        width: 1.6rem;
        cursor: pointer;

        & > span {
            display: block;
            border-radius: 2rem;
            background-color: $death-dark;
            height: .2rem;
            &:not(:last-child){
                margin-bottom: .3rem;
            }
        }
    }

    .hero-section {
        margin-bottom: 4rem;
        padding: 0 2rem;


        .hero-img {
            max-width: 100%;
            //box-shadow: 0 .8rem 2.4rem rgba($color: #000000, $alpha: .2);
            border-radius: .4rem;
            display: block;
            margin: 0 auto 3rem;
        }
        .hero-title {
            text-align: center;
            color: #ed5b43;
            font-size: 2.2rem;
            text-transform: uppercase;
        }


    }

    .statistics {
        
        .covid-title {
            padding: 0 2rem;
            font-size: 2rem;
            color: $text-color;
            text-transform: uppercase;
            font-weight: 300;

        }
        .u-drop-scroll {
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: flex-start;
            overflow-x: auto;

            padding: 3rem 2rem;
            position: relative;
            left: 0;
            width: 100%;

            &::-webkit-scrollbar {
                display: none;
            }

            & > div {
                margin-right: 3rem;
            }
        }
        
        .country {
            margin-bottom: 3rem;
            z-index: 99;
            display: flex;
            flex-direction: column;
            align-items: flex-start;


            .case-card {
                width: 16rem;
                height: 12rem;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
                padding: 1rem;
                flex: 0 0 auto;
                border-radius: .6rem;

                .title {
                    font-size: 2.2rem;
                    text-transform: uppercase;
                    height: 20%;
                    margin-bottom: 2rem;

                    &--rec {
                        color: $rec-text;
                    }
                    &--con {
                        color: $con-text;
                    }
                    &--death {
                        color: $death-text;
                    }
                }

                &--rec {
                    background-color: $rec-light;
                    box-shadow: 0 .8rem 2.8rem rgba($color: #07c737, $alpha: .3);
                }
                &--con {
                    background-color: $con-light;
                    box-shadow: 0 .8rem 2.8rem rgba($color: #ff0295, $alpha: .3);
                }
                &--death {
                    background-color: $death-light;
                    box-shadow: 0 .8rem 2.8rem rgba($color: #000000, $alpha: .3);
                }

                .numbers {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    height: 70%;
                    width: 100%;
                    padding: 2rem 1rem;
                    border-radius: 1.4rem;

                    svg {
                        width: 2.5rem;
                    }
                    .total {
                        font-size: 2.2rem;
                        text-transform: uppercase;
                        &--rec {
                            color: $rec-text;
                        }
                        &--con {
                            color: $con-text;
                        }
                        &--death {
                            color: $death-text;
                        }
                    }

                    &--rec {
                        background-color: $re-green-md;
                    } 
                    &--con {
                        background-color: $con-md;
                    }
                    &--death {
                        background-color: $death-md;
                    }

                    .numbers__persentages {
                        text-align: center;
                        font-size: 1.5rem;
                        color: white;
                        width: 4rem;
                        height: 4rem;
                        border-radius: 50%;
                        line-height: 4rem;

                        &--rec {
                            background-color: $rec-dark;
                        }
                        &--con {
                            background-color: $con-dark;
                        }
                        &--death {
                            background-color: $death-dark;
                        }
                    }
                }

            }


        }
    }

    @media screen and (max-width: 687px){
        .nav-list {
            display: none;
        }
        header .humberger {
            display: block;
        }


    }
    @media screen and (min-width: 640px) {
        body main .statistics .u-drop-scroll {
            overflow: hidden;
            justify-content: space-around;
            flex-wrap: wrap;
        }

        body main .hero-section .hero-img {
            max-width: 45rem;
        }


    }

    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: space-between;
        padding: 6rem 1rem;
        background-color: #121212;
        color: #acacac;
        margin-top: 4rem;


        .links {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 3rem;            
            a {
                        text-decoration: none;
                        font-size: 1.4rem;
                        font-weight: 600;
                        text-transform: capitalize;
                        color: #acacac;
                &:first-child {
                    margin-right: 2rem;
                }
            }
            
        }

        p {
            font-size: 1.5rem;
            font-weight: bold;
            text-transform: uppercase;
        }
    }
    