*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

:root {
    font-size: 62.5%;
    
}

body {
    
    background-color: $bg-color;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}



